yolov3.weights
*.png
.env
*.pt
*.pt.*
4_deepfake_detection/train_small/*.jpg
4_deepfake_detection/val_small/*.jpg
4_deepfake_detection/LOGGER/Unimodal/*
4_deepfake_detection/LOGGER/Multimodal/*
*.pyc
5_biased_detection/comparison/*